html { height: 100%; }
body { height: 100%; background-color: #eee; }
* { box-sizing: border-box; margin: 0; padding: 0;}
a { text-decoration: none; }
*:focus { outline: none; }
.hidden { display: none; }
* { font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体; }

.card {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c3c3c3;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar {
    margin-right: 1px;
    width: 6px;
    height: 6px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

.sidebar {
    background: #224562;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
}

.sidebar-head {
    display: block;
    padding: 30px;
    border-bottom: 1px solid rgba(255,255,255,1);
    font-size: 1.2em;
    color: #fff;
}

.sidebar-link {
    display: block;
    padding: 15px 30px;
    color: #fff;
}

.sidebar-link:hover, .sidebar-link.active {
    background-color: rgba(72,198,255,.8);
}

.footbar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 25%;
    width: 75%;
}

.footbar-container {
    border-top: 1px solid #e0e0e0;
    padding: 15px 0px;
    padding-bottom: 55px;
    height: 100%;
}

.footbar-input {
    display: block;
    height: 100%;
    border: none;
    font-size: 1em;
    resize: none;
    width: 100%;
    background: none;
}

.footbar-tool {
    padding-top: 5px;
}

.btn {
    padding: 6px 30px;
    background-color: #224562;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.btn:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.btn:active {
    box-shadow: none;
}

.footbar-btn {
    float: right;
}

.col {
    padding-left: 30px;
    padding-right: 30px;
}

.main {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 0;
    right: 0;
    padding-top: 53px;
}

.main-head {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-title {
    padding: 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    color: rgba(0,0,0,0.8);
    display: block;
}

.main-container {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.message {
    width: 100%;
    margin: 15px 0px;
}

.message-sender {
    float: left;
    width: 20%;
    padding: 0px 30px 0px 0px;
    text-align: right;
}

.message-data {
    float: left;
    vertical-align: top;
    width: 75%;
    font-size: 16px;
}

.message:after {
    content: "";
    clear: both;
    display: block;
}

.message-sender.self {
    float: right;
    padding: 0px 0px 0px 30px;
}

.message-data.self {
    float: right;
    text-align: right;
}

.dialogue {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.dialogue-box {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px 30px 30px;
}

.dialogue-row {
    width: 100%;
    margin: 30px 0px;
}

.dialogue-label {
    width: 17.5%;
    text-align: right;
    padding: 0px 15px 0px 0px;
    display: inline-block;
}

.dialogue-input {
    display: inline-block;
    font-size: 16px;
    width: 80%;
    margin: 0;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 0px 5px;
}

.dialogue-input:focus {
    border-bottom: solid 1px #224562;
}

.dialogue-btn {
    float: right;
    margin: 5px 10px;
}
